nav{
    padding-top: 20px !important;
    display: flex;
    background-color: #fff !important;
    margin-left: 30px;
    margin-right: 30px;
}
h1{
    font-size: 120px !important;
}
.nombre{
    width: 800px;
    margin-top: 194px;
    margin-left: 40px;
}
.nombrecolor{
    color: #384764;
}
.imgshadow{
    -webkit-filter: drop-shadow(-1px 1px 2px rgb(122, 122, 122));
    filter: drop-shadow(-1px 1px 2px rgb(131, 130, 130));
}
.resumen{
    width: 800px;
    font-size: 16px !important;
    padding-top: 40px;
}
.Home{
    display: flex;
}
.foto{
    display: flex;
    margin-left: 280px;
    margin-top: 115px; 
}
.acerca{
    background-color: #384764 !important;
    padding: 103px 90px 50px 90px; 
}
.Derecha{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;  
}
.parrafo{
    width: 1580px;
    color: #fff;
    padding-top: 30px ;
    text-align: justify;
}
.rosa{
    color: #AB8481;
    padding-top: 97px;
    width: 1500px;
    text-align: right;
}
.estudios{
    padding-top: 30px;
    color: #fff;
    list-style:none;
    text-align: right;
}
@supports(filter: invert(100%)){
    body{background:black;}
    #filtrado{   
    filter: invert(100%);
    }
  }
.svg{
    padding-top: 100px;
    padding-left: 100px;
  }
.portafolio{
    padding-top: 60px;
    padding-left: 90px;
    padding-bottom: 60px;
    color: #384764;
}
.cards{
    margin-left: 90px;
    
}
.baner{
    width: 100%;
    margin-top: 100px;
    background-color: #384764;
}
.vacio{
    height: 80px;
    width: 100%;
    background-color: #384764;
}
.contactame{
    padding-top: 50px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 5px;
    padding-bottom: 50px;
}
.alejar{
    padding-bottom: 20px;
}
