/* Hero.module.css */

.heroContainer {
  position: relative;
  width: 100%;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Evita barras de scroll si el canvas se sale */
}

.hero3DCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Detrás del texto */
}

.heroText {
  position: relative;
  z-index: 2; /* Delante del canvas */
  text-align: center;
  color: white; /* Asegúrate de que el color contraste con el fondo 3D */
  pointer-events: none; /* Permite que los clics atraviesen el texto y lleguen al canvas */
}

.heroText h1 {
  font-size: 8rem; /* Tipografía grande y audaz */
  margin: 0;
}

.heroText h2 {
  font-size: 2rem;
  font-weight: 300;
}
